.update-button {
    margin: 4px 6px;
    padding: 10px;
    font-size: 18px;
    background: #f077a0;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
  }
  
  .cancel-button {
    margin: 4px 6px;
    padding: 10px;
    font-size: 18px;
    background: #000000;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
  }