
// 1. poppins regular

// 2. poppins medium

// 3. poppins blod

// 4. poppins black

// 4. poppins thin

 

 // 1. poppins regular


@font-face {

    font-family: 'poppins_regular';

    src: url("../../fonts/poppins_regular.ttf") format("truetype");

}

 

 

// 2. poppins medium

 

@font-face {

    font-family: 'poppins_medium';

    src: url("../../fonts/poppins_medium.ttf") format("truetype");

}

 

// 3. poppins bold

 

@font-face {

    font-family: 'poppins_bold';

    src: url("../../fonts/poppins_bold.ttf") format("truetype");

}

 

// 4. poppins black

 

@font-face {

    font-family: 'poppins_black';

    src: url("../../fonts/poppins_black.ttf") format("truetype");

}

 

// 4. poppins thin

 

@font-face {

    font-family: 'poppins_thin';

    src: url("../../fonts/poppins_thin.ttf") format("truetype");

}

 